body {
  background-color: #173f5f; /* Controls the color of the page when you scroll past the top or bottom */
  background-image: linear-gradient(140deg, #0b2e4a, #5283ab);
  /* background-image: linear-gradient(145deg, red, yellow); */
}

a.link-icon {
  /* color: #20639b; */
  /* color: rgb(39, 42, 45); */
  /* color: #a6b4cf; */
  color: white;
}
.edit-link-icon {
  /* filter: invert(90%) sepia(80%) saturate(2125%) hue-rotate(177deg)
    brightness(78%) contrast(112%); */
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(247deg)
    brightness(100%) contrast(100%);
}
.link-photo {
  height: 38px;
  width: 38px;
}

.myaccent1 {
  background-color: #20639b;
}
.myaccentRed {
  background-color: #ed553b;
}
.myaccent3 {
  color: #f6d55c;
}
.myaccent4 {
  /* background-color: #ed553b; */
  background-color: #042642;
  /* background-color: #7ca7ca; */
}
i.mintCountDisable {
  color: #ffffffa9;
}

.myheaderFont {
  /* font-family: "Permanent Marker", cursive; */
  /* font-family: "Berkshire Swash", cursive; */
  font-family: "Caveat", cursive;
  /* font-family: "Irish Grover", cursive; */
  /* font-family: "Poor Story", cursive; */
}
